/* h1{
  color: blue;
  background-color: gray;
}
p{
  color: red;
  background-color: brown;
}
button{
  color: crimson;
  background-color: cornsilk;
} */

/* soln->9th of css */
h2{
  color: orange;
}
button{
  background-color: blue;
  color: white;
}
p{
  background-color: black;
  color: white;
}