#container{
  height: 300px;
  width: 600px;
  background-color: yellow;
  display: grid;
  /* grid-template-rows: 60px 60px 60px;
  grid-template-columns: 100px 100px 100px; */
/* 
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(3,1fr); */

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.item{
  /* height: 50px;
  width: 100px; */
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
}